@media all and (min-width:500px){
    html{
        margin: 0;
        background-image: url(universoc.jpg);
        background-size: 100%;
    }
    body{
        margin: 60px 80px 0px 80px;
        display: flex;
    }
    fieldset{
        border: 4px solid;
        color: rgb(2, 0, 139);
    }
    h1{
        color: White;
        font-family: Arial;
        text-align: center;
        text-justify: auto;
        align-content: center;
        text-shadow: 0 0 2px black;
    }
    h4{
        color: white;
        font-family: Arial;
        text-align: justify;
        text-justify: center;
        align-content: center;
    }
    p{
        color: black;
        font-family: Arial;
        text-align: center;
        text-justify: center;
        align-content: center;
        font-size: 14px;
    }
    .container{
        color: white;
        font-size: 17px;
        text-align: center;
        display:flex;
        flex-direction: column;
        align-content: center;
        text-justify: center;
    }
    label{
        align-content: center;
        text-align: center;
    }
    .tema_light{
        align-content: center;
        text-align: center;
        cursor: pointer;
        color: white;
        text-shadow: 0 0 3px black;
    }
    .tema_dark{
        align-content: center;
        text-align: center;
        cursor: pointer;
        color: white;
        text-shadow: 0 0 3px black;
    }
    button{
        align-content: center;
        font-size: 17px;
        margin: 10px 500px 10px 500px;
        background-color: rgb(2, 0, 139);
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }
    .resultado{
        font-size: 15px;
        color: black;
        font-family: Arial;
        width: auto;
        border: 3px solid;
        background-color: white;
        margin: 10px 0px 10px 0px;
    }
    .assinatura{
        color: black;
        font-family: Arial;
        text-align: center;
        text-justify: center;
        align-content: center;
        margin: 20px 0px 0px 0px;
        font-size: 15px;
        text-shadow: 0 0 2px white;
    }
}
@media all and (max-width:500px){
    html{
        background-image: url(universoc.jpg);
        /*background-color: rgb(66, 66, 66);*/
        display: block;
    }
    body{
        margin: 5px 10px 0px 10px;
        display: block;
    }
    h1{
        font-size: 20px;
        color: white;
    }
    h4{
        font-size: 13px;
        display: block;
        text-align: justify;
        color: white;
    }
    p{
        color: white;
        font-size: 10px;
    }
    .container{
        font-size: 10px;
        margin: 10px;
    }
    button{
        color: black;
        font-size: 10px;
        display: block;
        margin: auto;
        text-align: center;
        align-content: center;
        border-radius: 6px;
    }
    label{
        color: white;
        margin-left: 15%;
    }
    .placeholder{
        font-size: 10px;
    }
    .resultado{
        color: white;
        font-size: 13px;
        margin: 10px 0px 10px 0px;
        display: block;
        text-align: center;
        align-content: center;
    }
    .assinatura{
        color: white;
        margin: 30px 0px 0px 0px;
        font-size: 10px;
        text-justify: auto;
        text-align: center;
    }

}